{% extends "Tracking/base.html" %}
{% block content %}
    <div class="card mb-3">
        <h3 class="card-header text-center">{{ object.activityID }}</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Activity student: {{ object.studentID }}</li>

        </ul>
        <div class="card-body">
            <a class="btn btn-secondary btn-sm mt-1 mb-1"
               href="{% url 'assign-activity-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'assign-activity-delete' object.id %}">Delete</a>
        </div>
    </div>
{% endblock content%}